


@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Righteous&display=swap');
:root {
--heading-font: "Righteous";
--paragraph-font: "alegreya sans sc";
}
content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
nav a{
    text-align: center;
    color:#385c8f;
    text-decoration: none;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    padding: 35px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#hero-img{
    width: 100%
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    color:#e0e9f0;
    margin-top: 100px;
}
#hero-msg h1{
    text-align: center;

}
#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}
main section {
    text-align: center;
    font-family: "alegreya sans sc", Arial, Helvetica;
}
background {
    height: 725px;
}

body{
    background-color:#e0e9f0;
    color:#385c8f;
    font-family: "alegreya sans sc", Arial, Helvetica;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color:#34ADEA;
    color: #385c8f;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover{
    background-color:#3e95c1;
    color: #385c8f;
}
.book{
    background-color:#32d8e7;
    color:#385c8f;
    padding: 15px 30px;
    border-radius: 5px;
}
.join{
    background-color:#32d8e7;
    color:#385c8f;
    padding: 15px 30px;
    border-radius: 5px;
}
.book:hover{
    background-color:#3e95c1;
    color:#385c8f;
}
.join:hover{
    background-color:#3e95c1;
    color:#385c8f;
}
#background{
    background-color: #e0e9f0;
    color:#385c8f;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;

}
.msg{
    background-color:#32d8e7;
    color:#385c8f;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer{
    background-color:#385c8f;
    color: #e0e9f0;
    font-family: "alegreya sans sc", Arial, Helvetica;
    padding: 25px 50px;
    margin-top: 200px;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.book{
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
}
.join{
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
}
footer a{
    text-decoration: none;
}
footer p {
    font-size: 1.2em;

}
footer p a:hover {
    text-decoration: underline;
}

.home-title {
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.msg p{
    padding-bottom: 15px;
    font-size: .8em;
}
footer .social img{
    padding-top: 15px;
}
h4{
    font-family: "alegreya sans sc", Arial, Helvetica;
}
.rivers-card, .beach-bonfires-card, .waves-card{
    margin: 200px 0;
}
.card-img{
     border: 10px solid black;
     width: 100%;
     transition: transform .5s;
     box-shadow: 5px 5px 10px #6f7364;
}
main section img {
 box-sizing: border-box;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.beach-bonfires-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.waves-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
footer {
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
nav {
    display: flex;
    justify-content: space-around;}
.home-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
}
.card-img, .mountains {
    width: 100%;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .beach-bonfires-card, .waves-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}