


@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Righteous&display=swap');
:root {
--heading-font: "Righteous";
--paragraph-font: "alegreya sans sc";
}


content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}
nav a{
    text-align: center;
    color:#385c8f;
    text-decoration: none;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    padding: 35px;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}
main section {
    text-align: center;
    font-family: "alegreya sans sc", Arial, Helvetica;
}
background {
    height: 725px;
}

body{
    background-color:#e0e9f0;
    color:#385c8f;
    font-family: "alegreya sans sc", Arial, Helvetica;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color:#34ADEA;
    color: #385c8f;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
}
nav a:hover{
    background-color:#3e95c1;
    color: #385c8f;
}
.book{
    background-color:#32d8e7;
    color:#385c8f;
    padding: 15px 30px;
    border-radius: 5px;
}
.join{
    background-color:#32d8e7;
    color:#385c8f;
    padding: 15px 30px;
    border-radius: 5px;
}
.book:hover{
    background-color:#3e95c1;
    color:#385c8f;
}
.join:hover{
    background-color:#3e95c1;
    color:#385c8f;
}
#background{
    background-color: #e0e9f0;
    color:#385c8f;
    height: 725px;

}
.msg{
    background-color:#32d8e7;
    color:#385c8f;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color:#385c8f;
    color: #e0e9f0;
    font-family: "alegreya sans sc", Arial, Helvetica;
    padding: 25px 50px;
    margin-top: 200px;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.book{
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
}
.join{
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
}
footer a{
    text-decoration: none;
}
footer p {
    font-size: 1.2em;

}
footer p a:hover {
    text-decoration: underline;
}

.home-title {
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
    font-family: "Righteous", Arial, Helvetica, sans-serif;
}
#logo_link {
    padding-top: 5px;
}
.msg p{
    padding-bottom: 15px;
    font-size: .8em;
}
footer .social img{
    padding-top: 15px;
}
h4{
    font-family: "alegreya sans sc", Arial, Helvetica;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-image{
     border: 10px solid black;
}
main section img {
 box-sizing: border-box;
}